# Node.js & React
node_modules/
build/
dist/

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ОС та редактори
.DS_Store
Thumbs.db
.idea/
.vscode/

# Середовище
.env
.env.local
.env.development
.env.production
.env.test

# Тестові результати
coverage/
test-output/

# Кеші
.cache/
.next/
out/
.tmp/
temp/
*.log

# React-specific
*.env
*.local

# Mac
*.DS_Store

# Windows
*.exe
*.dll

# Папки IDE
*.iml

# Reports
allure-report/